@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-line {
  height: 2px;

  position: absolute;
  background-color: #416ea4;

  /* Smaller screens */
  @media (max-width: 768px) {
    /* width: 40%; */
  }

  /* Medium screens */
  @media (max-width: 1024px) {
    /* width: 35%; */
  }

  /* Large screens */
  @media (max-width: 1280px) {
  }
}
